﻿@model SAJPortal.Areas.Pages.ViewModels.ZoneContentViewModel

@{
    ViewBag.Title = Global.NewZone;
    var pid = ViewContext.RouteData.Values["pid"].ToString();
}

<div class="row">
    <div class="col-md-4">
        <section>
            @using (Html.BeginForm("new", "Zones", FormMethod.Post, new { id = "frmOperation", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("pid", pid)
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ZoneName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.ZoneName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ZoneName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderId, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.OrderId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OrderId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Hidden, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(m => m.Hidden)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.RouteFields, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            <div id="RouteFieldsSection">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" id="btnAddRouteFields" class="btn btn-primary">@Global.Add</button>
                                    </div>
                                </div>
                                <div class="row group">
                                    <div class="col-md-4">
                                        @Html.TextBox("RouteFieldsList[]", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBox("RouteFieldsValueList[]", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ViewId, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("ViewId", (List<SelectListItem>)ViewBag.Views, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    @Html.TextAreaFor(m => m.HtmlString, new { @class = "form-control", rows = 20, style = "direction:ltr; display: none;" })
                </div>
            }
        </section>
    </div>
</div>
<pre id="editor">
</pre>

@section OperationMenu {
    <li>
        <a id="btnSave" href="#"><i class="fa fa-save"></i> @Global.Save</a>
        <a href="/admin/pages/zones/index/@pid"><i class="fa fa-reply"></i>@Global.Back</a>
    </li>
}

@section Styles {
    <style type="text/css">
        #RouteFieldsSection .row,
        #ParametersSection .row {
            margin: 10px 0;
        }

            #RouteFieldsSection .row > div,
            #ParametersSection .row > div {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }

        #editor {
            height: 500px;
            width: 100%;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/AdminTheme/MultifieldScript")
    <script type="text/javascript" src="~/Scripts/ACEMinNoconflict/ace.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            var editor = ace.edit('editor');
            editor.setTheme('ace/theme/monokai');
            editor.getSession().setMode('ace/mode/razor');

            $('#btnSave').on('click', function () {
                $('#HtmlString').val(encodeURIComponent(editor.getValue()));
                $('#frmOperation').submit();
            });

            $('#frmSearch').addClass('hidden');

            $('#RouteFieldsSection').multifield({
                section: '.group',
                btnAdd: '#btnAddRouteFields',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

        });
    </script>
}
