﻿@model SAJPortal.Areas.Sites.ViewModels.SiteViewModel

@{
    ViewBag.Title = Global.NewSite;
}

<div class="row">
    <div class="col-md-4">
        <section>
            @using (Html.BeginForm("new", "Home", FormMethod.Post, new { id = "frmOperation", @class = "form-horizontal", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.SiteName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SiteName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Label, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Label, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Mode, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(m => m.Mode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Culture, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("Culture", (List<SelectListItem>)ViewBag.Cultures, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Culture, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Domains, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="DomainsSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddDomains" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            <div class="row group">
                                <div class="col-md-9">
                                    @Html.TextBox("DomainsList[]", null, new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SitePath, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SitePath, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Version, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Version, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserAgent, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="UserAgentSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddUserAgent" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            <div class="row group">
                                <div class="col-md-9">
                                    @Html.TextBox("UserAgentList[]", null, new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsOnline, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.IsOnline)
                        @Html.ValidationMessageFor(m => m.IsOnline, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsBase, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.IsBase)
                        @Html.ValidationMessageFor(m => m.IsBase, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpHost, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SmtpHost, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpUsername, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SmtpUsername, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SmtpPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpPort, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SmtpPort, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpFrom, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SmtpFrom, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SmtpTo, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="SmtpToSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddSmtpTo" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            <div class="row group">
                                <div class="col-md-9">
                                    @Html.TextBox("SmtpToList[]", null, new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Author, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Keyword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Canonical, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Canonical, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CustomFields, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="CustomFieldsSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddCustomFields" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            <div class="row group">
                                <div class="col-md-4">
                                    @Html.TextBox("CustomFieldsList[]", null, new { @class = "form-control" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBox("CustomFieldsValueList[]", null, new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HtmlMetaBlock, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="HtmlMetaBlockSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddHtmlMetaBlock" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            <div class="row group">
                                <div class="col-md-9">
                                    @Html.TextBox("HtmlMetaBlockList[]", null, new { @class = "form-control HtmlMetaBlock" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TimeZoneId, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("TimeZoneId", (List<SelectListItem>)ViewBag.TimeZones, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MembershipId, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("MembershipId", (List<SelectListItem>)ViewBag.Memberships, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MembershipId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RepositoryId, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("RepositoryId", (List<SelectListItem>)ViewBag.Repositories, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RepositoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("ParentId", (List<SelectListItem>)ViewBag.Sites, new { @class = "form-control" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section OperationMenu {
    <li>
        <a id="btnSave" href="#"><i class="fa fa-save"></i> @Global.Save</a>
        <a href="/admin/sites"><i class="fa fa-reply"></i> @Global.Back</a>
    </li>
}

@section Styles {
    <style type="text/css">
        #DomainsSection .row,
        #UserAgentSection .row,
        #SmtpToSection .row,
        #CustomFieldsSection .row,
        #HtmlMetaBlockSection .row {
            margin: 10px 0;
        }

            #DomainsSection .row > div,
            #UserAgentSection .row > div,
            #SmtpToSection .row > div,
            #CustomFieldsSection .row > div,
            #HtmlMetaBlockSection .row > div {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }
    </style>
}
@section Scripts {
    @Scripts.Render("~/AdminTheme/MultifieldScript")
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on('click', function () {
                $('.HtmlMetaBlock').each(function () {
                    $(this).val(encodeURIComponent($(this).val()));
                });
                $('#frmOperation').submit();
            });

            $('#frmSearch').addClass('hidden');

            $('#DomainsSection').multifield({
                section: '.group',
                btnAdd: '#btnAddDomains',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

            $('#UserAgentSection').multifield({
                section: '.group',
                btnAdd: '#btnAddUserAgent',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

            $('#SmtpToSection').multifield({
                section: '.group',
                btnAdd: '#btnAddSmtpTo',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

            $('#HtmlMetaBlockSection').multifield({
                section: '.group',
                btnAdd: '#btnAddHtmlMetaBlock',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

            $('#CustomFieldsSection').multifield({
                section: '.group',
                btnAdd: '#btnAddCustomFields',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });
        });
    </script>
}
