.tabs-to-dropdown a,
.tabs-to-dropdown button,
.tabs-to-dropdown input[type=button] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/* Tabs bar */
.tabs-to-dropdown {
    position: relative;
    z-index: 9999;
}

    .tabs-to-dropdown::after {
        display: block;
        content: "";
        width: 76px;
        position: absolute;
        bottom: 0;
        top: 0;
    }

.ltr .tabs-to-dropdown::after {
    right: 0;
}

.rtl .tabs-to-dropdown::after {
    left: 0;
}

.tabs-to-dropdown > .tab-bar {
    overflow: hidden;
    position: relative;
}

.ltr .tabs-to-dropdown > .tab-bar {
    margin-right: 46px;
}

.rtl .tabs-to-dropdown > .tab-bar {
    margin-left: 46px;
}

.tabs-to-dropdown > .tab-bar > ul {
    width: 99999px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .tabs-to-dropdown > .tab-bar > ul::after {
        display: table;
        content: "";
        clear: both;
    }

    .tabs-to-dropdown > .tab-bar > ul > li {
        display: inline-block;
        opacity: 1;
        visibility: visible;
    }

.ltr .tabs-to-dropdown > .tab-bar > ul > li {
    float: left;
}

.rtl .tabs-to-dropdown > .tab-bar > ul > li {
    float: right;
}

.tabs-to-dropdown > .tab-bar > ul > li.ttd-hide {
    opacity: 0;
    visibility: hidden;
}

.tabs-to-dropdown > .tab-bar > ul > li > a {
    display: inline-block;
    color: #4f5f6f;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 70px;
}

    .tabs-to-dropdown > .tab-bar > ul > li > a:hover {
        color: #59c2e6;
    }

    .tabs-to-dropdown > .tab-bar > ul > li > a:active {
        color: #59c2e6;
    }

    /* Home button */
    .tabs-to-dropdown > .tab-bar > ul > li > a > .fa {
        font-size: 34px;
        padding: 0 9px;
    }

/* Acctive */
/*.tabs-to-dropdown > .tab-bar > ul > li.active {
}*/

    .tabs-to-dropdown > .tab-bar > ul > li.active:hover {
        opacity: .85;
    }

    .tabs-to-dropdown > .tab-bar > ul > li.active:active {
        opacity: .7;
    }

    .tabs-to-dropdown > .tab-bar > ul > li.active > a {
        color: rgba(255,255,255,1);
    }

/* dropdown */
.tabs-to-dropdown > .dropdown > button.dropdown-toggle {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: inline-block;
    line-height: 70px;
    background: none;
    color: #4f5f6f;
    font-size: 25px;
    padding: 0 20px;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer !important;
    opacity: 0;
    visibility: hidden;
}

.ltr .tabs-to-dropdown > .dropdown > button.dropdown-toggle {
    right: 0;
}

.rtl .tabs-to-dropdown > .dropdown > button.dropdown-toggle {
    left: 0;
}

.tabs-to-dropdown > .dropdown.ttd-show > button.dropdown-toggle {
    opacity: 1;
    visibility: visible;
}

.tabs-to-dropdown > .dropdown > button.dropdown-toggle:hover {
    color: #59c2e6;
}

.tabs-to-dropdown > .dropdown > button.dropdown-toggle:active,
.tabs-to-dropdown > .dropdown.ttd-open > button.dropdown-toggle {
    color: #59c2e6;
}

.tabs-to-dropdown > .dropdown > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 60px;
    max-width: 300px;
    background: rgba(45, 62, 80,.8);
    opacity: 0;
    visibility: hidden;
}

.ltr .tabs-to-dropdown > .dropdown > ul {
    right: 0;
}

.rtl .tabs-to-dropdown > .dropdown > ul {
    left: 0;
}

.tabs-to-dropdown > .dropdown.ttd-open > ul {
    opacity: 1;
    visibility: visible;
    top: 70px;
}

.tabs-to-dropdown > .dropdown > ul > li {
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

.tabs-to-dropdown > .dropdown.ttd-open > ul > li.ttd-show {
    opacity: 1;
    visibility: visible;
    max-height: 50px;
}

.tabs-to-dropdown > .dropdown > ul > li > a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255,255,255,1);
    padding: 15px 15px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.tabs-to-dropdown > .dropdown.ttd-open > ul > li > a:hover {
    background: #59c2e6;
}

.tabs-to-dropdown > .dropdown.ttd-open > ul > li > a:active {
    background: #59c2e6;
}

/* Media Queries */
@media all and (max-width:699px) {
    /* Tabs bar */
    .ltr .tabs-to-dropdown > .tab-bar {
        margin-right: 37px;
    }

    .rtl .tabs-to-dropdown > .tab-bar {
        margin-left: 37px;
    }

    .tabs-to-dropdown::after {
        width: 55px;
    }

    .tabs-to-dropdown > .tab-bar > ul > li > a {
        font-size: 14px;
        padding: 0 15px;
        line-height: 50px;
    }

        .tabs-to-dropdown > .tab-bar > ul > li > a > .fa {
            font-size: 24px;
            padding: 0;
        }
    /* Dropdown */
    .tabs-to-dropdown > .dropdown > button.dropdown-toggle {
        line-height: 50px;
        font-size: 21px;
        padding: 0 10px;
    }

    .tabs-to-dropdown > .dropdown > ul {
        top: 30px;
    }

    .tabs-to-dropdown > .dropdown.ttd-open > ul {
        top: 50px;
    }

    .tabs-to-dropdown > .dropdown > ul > li > a {
        padding: 10px;
        font-size: 12px;
        line-height: 16px;
    }
}

/* Transition */
.tabs-to-dropdown > .tab-bar > ul > li,
.tabs-to-dropdown > .tab-bar > ul > li > a,
.tabs-to-dropdown > .tab-bar > ul > li > a > .fa,
.tabs-to-dropdown > .dropdown > button.dropdown-toggle,
.tabs-to-dropdown > .dropdown,
.tabs-to-dropdown > .dropdown > ul,
.tabs-to-dropdown > .dropdown > ul > li,
.tabs-to-dropdown > .dropdown > ul > li > a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

    .tabs-to-dropdown > .tab-bar > ul > li.active:active,
    .tabs-to-dropdown a:active,
    .tabs-to-dropdown button:active,
    .tabs-to-dropdown input[type=button] {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: all 0 ease !important;
        transition: none !important;
    }

.tabs-to-dropdown > .dropdown {
    position: initial;
}
