﻿@model SAJPortal.Areas.Pages.ViewModels.PageViewModel

@{
    ViewBag.Title = Global.EditPage;
}

<div class="row">
    <div class="col-md-4">
        <section>
            @using (Html.BeginForm("edit", "Home", FormMethod.Post, new { id = "frmOperation", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("id", Model.ItemId)
                <div class="form-group">
                    @Html.LabelFor(m => m.PageName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.PageName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PageName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Template, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Template, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Template, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.VirtualPath, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.VirtualPath, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.VirtualPath, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MenuTitle, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.MenuTitle, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RouteFields, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="RouteFieldsSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddRouteFields" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            @if (Model.RouteFieldsList == null || Model.RouteFieldsList.Length <= 0)
                            {
                                <div class="row group">
                                    <div class="col-md-4">
                                        @Html.TextBox("RouteFieldsList[]", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBox("RouteFieldsValueList[]", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                var i = 0;
                                foreach (var item in Model.RouteFieldsList)
                                {
                                    <div class="row group" style="display: block;">
                                        <div class="col-md-4">
                                            <input class="form-control" id="RouteFieldsList__" name="RouteFieldsList[]" type="text" value="@item">
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control" id="RouteFieldsValueList__" name="RouteFieldsValueList[]" type="text" value="@Model.RouteFieldsValueList[i]">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-danger btnRemove" style="">@Global.Remove</button>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Parameters, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div id="ParametersSection">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnAddParameters" class="btn btn-primary">@Global.Add</button>
                                </div>
                            </div>
                            @if (Model.ParametersList == null || Model.ParametersList.Length <= 0)
                            {
                                <div class="row group">
                                    <div class="col-md-4">
                                        @Html.TextBox("ParametersList[]", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBox("ParametersValueList[]", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                var i = 0;
                                foreach (var item in Model.ParametersList)
                                {
                                    <div class="row group" style="display: block;">
                                        <div class="col-md-4">
                                            <input class="form-control" id="ParametersList__" name="ParametersList[]" type="text" value="@item">
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control" id="ParametersValueList__" name="ParametersValueList[]" type="text" value="@Model.ParametersValueList[i]">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-danger btnRemove" style="">@Global.Remove</button>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PageType, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("PageType", (List<SelectListItem>)ViewBag.PageTypes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PageType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShowInMenu, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.ShowInMenu)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShowInBreadcrumb, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.ShowInBreadcrumb)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IsFirstPage, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.IsFirstPage)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RoleName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SiteId, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("SiteId", (List<SelectListItem>)ViewBag.Sites, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SiteId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DropDownList("ParentId", (List<SelectListItem>)ViewBag.Pages, new { @class = "form-control" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section OperationMenu {
    <li>
        <a id="btnSave" href="#"><i class="fa fa-save"></i> @Global.Save</a>
        <a href="/admin/pages"><i class="fa fa-reply"></i> @Global.Back</a>
    </li>
}

@section Styles {
    <style type="text/css">
        #RouteFieldsSection .row,
        #ParametersSection .row {
            margin: 10px 0;
        }

            #RouteFieldsSection .row > div,
            #ParametersSection .row > div {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }
    </style>
}
@section Scripts {
    @Scripts.Render("~/AdminTheme/MultifieldScript")
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on('click', function () {
                $('#frmOperation').submit();
            });

            $('#frmSearch').addClass('hidden');

            $('#RouteFieldsSection').multifield({
                section: '.group',
                btnAdd: '#btnAddRouteFields',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

            $('#ParametersSection').multifield({
                section: '.group',
                btnAdd: '#btnAddParameters',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });
        });
    </script>
}
