﻿@using ORM.Enums
@model IEnumerable<ORM.Model.Page>

@{
    ViewBag.Title = Global.Pages;
    var pageIndex = TempData["PageIndex"] != null ? Convert.ToInt32(TempData["PageIndex"]) : 1;
    var pageCount = TempData["PageCount"] != null ? Convert.ToInt32(TempData["PageCount"]) : 0;
    TempData.Keep();
}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Global.PageName</th>
                        <th>@Global.Title</th>
                        <th>@Global.VirtualPath</th>
                        <th>@Global.Zones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td><input name="rdoPages" type="radio" class="checkbox-inline PagesDelete" title="@row.ItemId" /></td>
                            @if (User.IsInRole("EditSite"))
                            {
                                <td><a href="/admin/pages/edit/@row.ItemId">@row.PageName</a></td>
                            }
                            else
                            {
                                <td>@row.PageName</td>
                            }
                            <td>@row.Title</td>
                            <td>@row.VirtualPath</td>
                            @if (row.PageType == PageTypes.SitePage)
                            {
                                <td><a href="/admin/pages/zones/index/@row.ItemId">@Global.Zones</a></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            @if (pageCount > 1)
            {
                using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmPaggination", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input id="PageIndex" name="PageIndex" type="hidden" />
                    <input name="formType" type="hidden" value="pager">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item @(pageIndex <= 1 ? "disabled" : string.Empty)">
                                <a class="page-link" aria-label="Previous" title="@(pageIndex - 1)">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            @if (pageIndex - 3 >= 1)
                            {
                                <li class="page-item"><a class="page-link" title="@(pageIndex - 3)">@(pageIndex - 3)</a></li>
                            }
                            @if (pageIndex - 2 >= 1)
                            {
                                <li class="page-item"><a class="page-link" title="@(pageIndex - 2)">@(pageIndex - 2)</a></li>
                            }
                            @if (pageIndex - 1 >= 1)
                            {
                                <li class="page-item"><a class="page-link" title="@(pageIndex - 1)">@(pageIndex - 1)</a></li>
                            }
                            <li class="page-item active"><a class="page-link" title="@pageIndex">@pageIndex</a></li>
                            @if (pageIndex + 1 <= pageCount)
                            {
                                <li class="page-item"><a class="page-link" title="@(pageIndex + 1)">@(pageIndex + 1)</a></li>
                            }
                            @if (pageIndex + 2 <= pageCount)
                            {
                                <li class="page-item"><a class="page-link" title="@(pageIndex + 2)">@(pageIndex + 2)</a></li>
                            }
                            @if (pageIndex + 3 <= pageCount)
                            {
                                <li class="page-item"><a class="page-link" title="@(pageIndex + 3)">@(pageIndex + 3)</a></li>
                            }
                            <li class="page-item @(pageIndex >= pageCount ? "disabled" : string.Empty)">
                                <a class="page-link" aria-label="Next" title="@(pageIndex + 1)">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/AdminTheme/ResponsiveTableStyle")
}

@section OperationMenu {
    @if (User.IsInRole("NewPage"))
    {
        <li>
            <a href="/admin/pages/new"><i class="fa fa-plus"></i> @Global.New</a>
        </li>
    }
    @if (User.IsInRole("DeletePage"))
    {
        <li>
            <a id="btnPagesDelete" href="/admin/pages/delete" class="hidden"><i class="fa fa-minus"></i> @Global.Delete</a>
        </li>
    }
}

@section Scripts {
    <script type="text/javascript">
        $.fn.uncheckableRadio = function (href) {
            return this.each(function () {
                $(this).mousedown(function () {
                    $(this).data('wasChecked', this.checked);
                });

                $(this).click(function () {
                    if ($(this).data('wasChecked')) {
                        $('#btnPagesDelete').prop('href', href).addClass('hidden');
                        this.checked = false;
                    } else {
                        $('#btnPagesDelete').prop('href', href + '/' + $(this).prop('title')).removeClass('hidden');
                    }
                });
            });
        };
        $(function () {
            $('.PagesDelete').uncheckableRadio('/admin/pages/delete');

            $('.page-link').on('click', function () {
                if (!$(this).parent('li').hasClass('disabled')) {
                    $('#PageIndex').val($(this).prop('title'));
                    $('#frmPaggination').submit();
                }
            });

            $('#frmSearch').prop('action', '/admin/pages');
        });
    </script>
}
