﻿@{
    ViewBag.Title = Global.Error;
}

<style type="text/css">
    .errordetail {
        width: 500px;
        margin: 30px auto 10px;
        padding: 10px;
        position: relative; /* For the submit button positioning */
        text-align: center;
    }
</style>

<p class="text-danger errordetail">
    @(ViewBag.Error)
    <br /><br />
    @if (ViewBag.ErrorCode != 1000 && ViewBag.ErrorCode != 404 && ViewBag.ErrorCode != 500)
    {
        <a href="/users">@Global.Login</a>
    }
    else if (ViewBag.ErrorCode == 404 || ViewBag.ErrorCode == 500)
    {
        <a href="/">@Global.HomePage</a>
    }
</p>