.scrollert:hover > .scrollert-scrollbar {
  box-shadow: inset 5px 5px 20px 2px rgba(255, 255, 255, 0.5);
}
.scrollert:hover > .scrollert-scrollbar > .scrollert-track {
  background: rgba(255, 255, 255, 0.75);
}
.scrollert > .scrollert-scrollbar {
  transition: all .5s ease;
  box-shadow: inset 5px 5px 20px 2px rgba(255, 255, 255, 0.1);
}
.scrollert > .scrollert-scrollbar.scrollert-scrollbar-x {
  height: 5px;
}
.scrollert > .scrollert-scrollbar > .scrollert-track {
  background: rgba(255, 255, 255, 0.25);
}
.scrollert > .scrollert-scrollbar.scrollert-scrollbar-y {
  width: 5px;
}
.scrollert.header .scrollert-scrollbar {
  background: rgba(200, 200, 200, 0.05);
  box-shadow: inset 5px 5px 20px 2px rgba(0, 0, 0, 0.25);
  opacity: 1 !important;
}
.scrollert.header .scrollert-scrollbar.scrollert-scrollbar-x {
  height: 8px;
  border-radius: 4px;
}
.scrollert.header .scrollert-scrollbar .scrollert-track {
  border-radius: 4px;
  border-right: 200px solid transparent;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
}
body > .scrollert > .scrollert-scrollbar,
body > .scrollert:hover > .scrollert-scrollbar {
  border-radius: 4px;
  box-shadow: inset 5px 5px 20px 2px rgba(0, 0, 0, 0.15);
}
body > .scrollert > .scrollert-scrollbar.scrollert-scrollbar-y,
body > .scrollert:hover > .scrollert-scrollbar.scrollert-scrollbar-y {
  width: 8px;
}
body > .scrollert > .scrollert-scrollbar .scrollert-track,
body > .scrollert:hover > .scrollert-scrollbar .scrollert-track {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}
