@using CMS.Helper
@using ORM.Condition
@using Utility

@{
    var groupName = string.Empty;
    var borderColor = "#ccc";
    var borderWidth = 1;
    var foreColor = "#000";
    var contentBorderColor = "#ccc";
    if (ViewContext.HasRouteDataKey("GroupName"))
    {
        groupName = ViewContext.GetRouteData<string>("GroupName");
    }
    if (ViewContext.HasRouteDataKey("BorderColor"))
    {
        borderColor = ViewContext.GetRouteData<string>("BorderColor");
    }
    if (ViewContext.HasRouteDataKey("BorderWidth"))
    {
        borderWidth = ViewContext.GetRouteData<int>("BorderWidth");
    }
    if (ViewContext.HasRouteDataKey("ForeColor"))
    {
        foreColor = ViewContext.GetRouteData<string>("ForeColor");
    }
    if (ViewContext.HasRouteDataKey("ContentBorderColor"))
    {
        contentBorderColor = ViewContext.GetRouteData<string>("ContentBorderColor");
    }
    var filters = new FilterExpressionList();
    if (groupName.IsNotEmpty())
    {
        filters.Add(new ORM.Condition.Filter("GroupName", SqlOperators.Equal, groupName, SqlOperand.And, DbType.NVarChar));
    }
    var das = new DataService.DynamicService();
    var list = das.GetList("ActiveSite_Accordion", filters)?.ToList();
}
@if (list != null && list.Any())
{
    @Styles.Render("~/Module/Accordion/Style")
    <style type="text/css">
        #coolfieldset@(groupName).expanded {
            border-style: solid;
            border-width: @(borderWidth)px;
        }

        #coolfieldset@(groupName).expanded {
            border-color: @(contentBorderColor);
        }

        #coolfieldset@(groupName).collapsed {
            border-top-style: solid;
            border-top-width: @(borderWidth)px;
        }

        #coolfieldset@(groupName).collapsed {
            border-top-color: @(borderColor);
        }

        #coolfieldset@(groupName) legend {
            color: @(foreColor);
        }

        #coolfieldset@(groupName) div.content {
            color: @(foreColor);
        }
    </style>
    foreach (var item in list)
    {
        <fieldset id="coolfieldset@(groupName)" class="coolfieldset">
            <legend>@item.Title</legend>
            <div class="content">
                @Html.Raw(HttpUtility.UrlDecode(item.Context))
            </div>
        </fieldset>
    }
    <div class="clearfix"></div>
    @Scripts.Render("~/Module/Accordion/Script")
    <script type="text/javascript">
        $(function () {
            $('.coolfieldset').coolfieldset({
                collapsed: true,
                speed: 'fast'
            });
        });
    </script>
}
