@using CMS.Helper
@using ORM.Condition
@using Utility

@{
    var groupName = string.Empty;
    if (ViewContext.HasRouteDataKey("GroupName"))
    {
        groupName = ViewContext.GetRouteData<string>("GroupName");
    }
    var filters = new FilterExpressionList();
    if (groupName.IsNotEmpty())
    {
        filters.Add(new ORM.Condition.Filter("GroupName", SqlOperators.Equal, groupName, SqlOperand.And, DbType.NVarChar));
    }
    var das = new DataService.DynamicService();
    var list = das.GetList("ActiveSite_TabContent", filters)?.ToList();
}
@if (list != null && list.Any())
{
    @Styles.Render("~/Module/TabContent/Style")
    <style type="text/css">
        .ltr .r-tabs-nav {
            text-align: left;
            padding-left: 15px;
        }

        .rtl .r-tabs-nav {
            text-align: right;
            padding-right: 15px;
        }

        .r-tabs-nav li {
            padding: 5px 15px;
            -ms-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
            -ms-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        .ltr .r-tabs-panel { text-align: left; }

        .rtl .r-tabs-panel { text-align: right; }

        .r-tabs-anchor {
            display: block;
            width: 100%;
            line-height: 2;
        }

        @(ViewContext.HasRouteDataKey("TabHeaderBackground") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-anchor {{ background-color: {ViewContext.GetRouteData<string>("TabHeaderBackground")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("TabHeaderForeColor") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-anchor {{ color: {ViewContext.GetRouteData<string>("TabHeaderForeColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBackground") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-state-active {{ background-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBackground")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBorderWidth") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-state-active {{ border-top-style: solid; border-top-width: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderWidth")}px; border-right-style: solid; border-right-width: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderWidth")}px; border-left-style: solid; border-left-width: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderWidth")}px; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBorderColor") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-state-active {{ border-top-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderColor")}; border-right-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderColor")}; border-left-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderForeColor") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {{ color: {ViewContext.GetRouteData<string>("ActiveTabHeaderForeColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBackground") ? $"#horizontalTab{groupName} .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {{ background-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBackground")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("TabBorderWidth") ? $"#horizontalTab{groupName} .r-tabs-panel {{ border-top-style: solid; border-top-width: {ViewContext.GetRouteData<string>("TabBorderWidth")}px; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("TabBorderColor") ? $"#horizontalTab{groupName} .r-tabs-panel {{ border-top-color: {ViewContext.GetRouteData<string>("TabBorderColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("TabHeaderBackground") ? $"#horizontalTab{groupName} .r-tabs-accordion-title .r-tabs-anchor {{ background-color: {ViewContext.GetRouteData<string>("TabHeaderBackground")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("TabHeaderForeColor") ? $"#horizontalTab{groupName} .r-tabs-accordion-title .r-tabs-anchor {{ color: {ViewContext.GetRouteData<string>("TabHeaderForeColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBackground") ? $"#horizontalTab{groupName} .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {{ background-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBackground")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderForeColor") ? $"#horizontalTab{groupName} .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {{ color: {ViewContext.GetRouteData<string>("ActiveTabHeaderForeColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBorderWidth") ? $"#horizontalTab{groupName} .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {{ border-top-style: solid; border-top-width: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderWidth")}px; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("ActiveTabHeaderBorderColor") ? $"#horizontalTab{groupName} .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {{ border-top-color: {ViewContext.GetRouteData<string>("ActiveTabHeaderBorderColor")}; }}" : string.Empty)
        @(ViewContext.HasRouteDataKey("TabContentBackground") ? $"#horizontalTab{groupName}-panel {{ background-color: {ViewContext.GetRouteData<string>("TabContentBackground")}; }}" : string.Empty)
    </style>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div id="horizontalTab@(groupName)">
                    <ul>
                        @foreach (var item in list)
                        {
                            <li><a href="#tab-@(item.ItemId)">@item.Title</a></li>
                        }
                    </ul>
                    @foreach (var item in list)
                    {
                        <div id="tab-@(item.ItemId)">
                            <p>@Html.Raw(HttpUtility.UrlDecode(item.Context))</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @Scripts.Render("~/Module/TabContent/Script")
    <script type="text/javascript">
        $(function () {
            $("#horizontalTab@(groupName)")
                .responsiveTabs({
                    @Html.Raw(ViewContext.HasRouteDataKey("Animation") ? "animation: '" + ViewContext.GetRouteData<string>("Animation").ToLower() + "'," : string.Empty)
                    @(ViewContext.HasRouteDataKey("Duration") ? "duration: " + ViewContext.GetRouteData<string>("Duration").ToLower() + "," : string.Empty)
                    @(ViewContext.HasRouteDataKey("Disabled") ? "disabled: [" + ViewContext.GetRouteData<string>("Disabled").ToLower() + "]" : string.Empty)
                });
        });
    </script>
}
