@using CMS.Helper
@using Utility

@{
    var uniqueId = ModuleHelper.GetUniqueId();
    var userIp = Request.GetUserIp().IsNotEmpty() ? Request.GetUserIp() : "english.khamenei.ir";
    if (ViewContext.HasRouteDataKey("UserIP"))
    {
        userIp = ViewContext.GetRouteData<string>("UserIP");
    }

    var locationKind = false;
    var locationName = string.Empty;
    if (ViewContext.HasRouteDataKey("LocationName"))
    {
        locationKind = true;
        locationName = ViewContext.GetRouteData<string>("LocationName");
    }

    if (Request.HasQueryStringKey("Location"))
    {
        locationKind = true;
        locationName = Request.GetQueryString("Location");
    }
}
<div id="WeatherWrap@(uniqueId)">
    <span id="WeatherTitle"></span>
    <span id="WeatherIcon"></span>
    <span id="WeatherIcon2"></span>
    <span id="WeatherTemp"></span>
</div>
<div class="clearfix"></div>
<style type="text/css">
    /* CSS goes here */
    #WeatherWrap@(uniqueId) {
        display: inline-block;
        background: #EEE;
        padding: 2px 13px 2px 11px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        width: 100%;
        text-align: center;
    }

    #WeatherWrap@(uniqueId) #WeatherTitle {
        display: inline-block;
        font: 14px/20px Arial,Verdana,sans-serif;
        color: #666;
        vertical-align: top;
        padding-top: 9px;
    }

    #WeatherWrap@(uniqueId) #WeatherIcon {
        display: none; /*inline-block;*/
        width: 61px;
        height: 34px;
        margin: 2px 0 -1px 1px;
        overflow: hidden;
    }

    #WeatherWrap@(uniqueId) #WeatherIcon2 {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin: 1px 6px 0 8px;
        overflow: hidden;
    }

    #WeatherWrap@(uniqueId) #WeatherTemp {
        display: inline-block;
        font: 20px/28px Arial,Verdana,sans-serif;
        color: #333;
        vertical-align: top;
        padding-top: 5px;
        margin-left: 0;
    }
</style>
<script type="text/javascript">
    // javascript will go here
    $(function () {
        @(locationKind ? Html.Raw($"var location = '{locationName}';") : Html.Raw("var location = 'Tehran';"))

        var temperature = 'c';
        var query = "select item from weather.forecast where u = '" + temperature + "' AND woeid in (select woeid from geo.places(1) where text='" + location + "')";
        var cacheBuster = Math.floor((new Date().getTime()) / 1200 / 1000);
        var url = 'https://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(query) + '&format=json&_nocache=' + cacheBuster;
        //var ipurl = "http://freegeoip.net/json/@(userIp)";

        window['WeatherCallback@(uniqueId)'] = function (data) {
            var info = data.query.results.channel.item;
            var title = info.title.replace('Conditions for ', '');
            title = title.substring(0, title.indexOf(' at '));
            $('#WeatherWrap@(uniqueId) #WeatherTitle').text(title);
            $('#WeatherWrap@(uniqueId) #WeatherIcon').css({
                backgroundPosition: '-' + (61 * info.condition.code) + 'px 0'
            }).attr({
                title: info.condition.text
            });
            $('#WeatherWrap@(uniqueId) #WeatherIcon2').append('<img src="http://l.yimg.com/a/i/us/we/52/' + info.condition.code + '.gif" width="34" height="34" title="' + info.condition.text + '" />');
            $('#WeatherWrap@(uniqueId) #WeatherTemp').html(info.condition.temp + '&deg;' + (temperature.toUpperCase()));
        };

        window['WeatherIPCallback@(uniqueId)'] = function (data) {
            location = data.region_name.replace('Ostan-e', '');
            query = "select item from weather.forecast where u = '" + temperature + "' AND woeid in (select woeid from geo.places(1) where text='" + location + "')";
            cacheBuster = Math.floor((new Date().getTime()) / 1200 / 1000);
            url = 'https://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(query) + '&format=json&_nocache=' + cacheBuster;
            $.ajax({ url: url, dataType: 'jsonp', cache: true, jsonpCallback: 'WeatherCallback' });
        };

        @(locationKind ? Html.Raw("$.ajax({ url: url, dataType: 'jsonp', cache: true, jsonpCallback: 'WeatherCallback" + uniqueId + "' });") : Html.Raw("$.ajax({ url: ipurl, dataType: 'jsonp', cache: true, jsonpCallback: 'WeatherIPCallback" + uniqueId + "' });"))
    });
</script>
