.scrollert
{
    @offset: 8px;
    @size: 12px;
    @min-track-size: 5%;
    @xy-intersection-offset: @offset + 20px;
    @scrollbar-color: black;
    @track-color: black;

    position: relative;
    overflow: hidden;

    > .scrollert-content
    {
        position: absolute;
        overflow: hidden;
        box-sizing: content-box;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:focus
        {
            outline: none;
        }

        &::-webkit-scrollbar
        {
            display: none;
        }
    }

    > .scrollert-scrollbar
    {
        position: absolute;

        background: fade(@scrollbar-color, 0%);
        border-radius: @size/2;
        overflow: hidden;

        transition: background 500ms;

        &:hover
        {
            background: fade(@scrollbar-color, 15%);
        }

        > .scrollert-track
        {
            position: absolute;
            transition: background 500ms;
            background: fade(@track-color, 20%);
            border-radius: @size/2;
        }

        &-y
        {
            top: @offset;
            bottom: @offset;
            right: @offset;
            width: @size;

            > .scrollert-track
            {
                top: 0;
                height: 0;
                width: 100%;
                min-height: @min-track-size;
            }
        }

        &-x
        {
            left: @offset;
            right: @offset;
            bottom: @offset;
            height: @size;

            > .scrollert-track
            {
                left: 0;
                width: 0;
                height: 100%;
                min-width: @min-track-size;
            }
        }
    }

    //Both scrollbars are available
    &.scrollert-axis-x.scrollert-axis-y
    {
        > .scrollert-scrollbar-y
        {
            bottom: @xy-intersection-offset;
            top: @offset;
        }

        > .scrollert-scrollbar-x
        {
            right: @xy-intersection-offset;
            left: @offset;
        }
    }

    //Hover behaviour
    &:hover > .scrollert-scrollbar
    {
        background: fade(@scrollbar-color, 5%);

        > .scrollert-track
        {
            background: fade(@track-color, 40%);
        }
    }

    &.scrollert-trackdrag-y > .scrollert-scrollbar-y,
    &.scrollert-trackdrag-x > .scrollert-scrollbar-x
    {
        background: fade(@scrollbar-color, 15%);

        > .scrollert-track
        {
            background: fade(@track-color, 40%);
        }
    }
}

