﻿@model SAJPortal.Areas.Views.ViewModels.ViewViewModel

@{
    ViewBag.Title = Global.EditView;
}

<div class="row">
    <div class="col-md-12">
        <section>
            @using (Html.BeginForm("edit", "Home", FormMethod.Post, new { id = "frmOperation", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("id", Model.ItemId)
                <div class="row">
                    <div class="col-md-4 form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ViewName, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ViewName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ViewName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.VirtualPath, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.VirtualPath, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.VirtualPath, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Template, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Template, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.RouteFields, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                <div id="RouteFieldsSection">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" id="btnAddRouteFields" class="btn btn-primary">@Global.Add</button>
                                        </div>
                                    </div>
                                    @if (Model.RouteFieldsList == null || Model.RouteFieldsList.Length <= 0)
                                    {
                                        <div class="row group">
                                            <div class="col-md-4">
                                                @Html.TextBox("RouteFieldsList[]", null, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBox("RouteFieldsValueList[]", null, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        var i = 0;
                                        foreach (var item in Model.RouteFieldsList)
                                        {
                                            <div class="row group" style="display: block;">
                                                <div class="col-md-4">
                                                    <input class="form-control" id="RouteFieldsList__" name="RouteFieldsList[]" type="text" value="@item">
                                                </div>
                                                <div class="col-md-5">
                                                    <input class="form-control" id="RouteFieldsValueList__" name="RouteFieldsValueList[]" type="text" value="@Model.RouteFieldsValueList[i]">
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-danger btnRemove" style="">@Global.Remove</button>
                                                </div>
                                            </div>
                                            i++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Parameters, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                <div id="ParametersSection">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" id="btnAddParameters" class="btn btn-primary">@Global.Add</button>
                                        </div>
                                    </div>
                                    @if (Model.ParametersList == null || Model.ParametersList.Length <= 0)
                                    {
                                        <div class="row group">
                                            <div class="col-md-4">
                                                @Html.TextBox("ParametersList[]", null, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBox("ParametersValueList[]", null, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-danger btnRemove">@Global.Remove</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        var i = 0;
                                        foreach (var item in Model.ParametersList)
                                        {
                                            <div class="row group" style="display: block;">
                                                <div class="col-md-4">
                                                    <input class="form-control" id="ParametersList__" name="ParametersList[]" type="text" value="@item">
                                                </div>
                                                <div class="col-md-5">
                                                    <input class="form-control" id="ParametersValueList__" name="ParametersValueList[]" type="text" value="@Model.ParametersValueList[i]">
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-danger btnRemove" style="">@Global.Remove</button>
                                                </div>
                                            </div>
                                            i++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SiteId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DropDownList("SiteId", (List<SelectListItem>)ViewBag.Sites, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SiteId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = 20, style = "direction:ltr; display: none;" })
                </div>
            }
        </section>
    </div>
</div>
<pre id="editor">
</pre>

@section OperationMenu {
    <li>
        <a id="btnSave" href="#"><i class="fa fa-save"></i> @Global.Save</a>
        <a href="/admin/views"><i class="fa fa-reply"></i> @Global.Back</a>
    </li>
}

@section Styles {
    <style type="text/css">
        #RouteFieldsSection .row,
        #ParametersSection .row {
            margin: 10px 0;
        }

            #RouteFieldsSection .row > div,
            #ParametersSection .row > div {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }

        #editor {
            height: 500px;
            width: 100%;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/AdminTheme/MultifieldScript")
    <script type="text/javascript" src="~/Scripts/ACEMinNoconflict/ace.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            var editor = ace.edit('editor');
            editor.setTheme('ace/theme/monokai');
            editor.getSession().setMode('ace/mode/razor');

            $('#btnSave').on('click', function () {
                $('#Content').val(encodeURIComponent(editor.getValue()));
                $('#frmOperation').submit();
            });

            $('#frmSearch').addClass('hidden');

            $('#RouteFieldsSection').multifield({
                section: '.group',
                btnAdd: '#btnAddRouteFields',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });

            $('#ParametersSection').multifield({
                section: '.group',
                btnAdd: '#btnAddParameters',
                btnRemove: '.btnRemove',
                locale: {
                    "multiField": {
                        "messages": {
                            "removeConfirmation": "@Global.RemoveConfirmation"
                        }
                    }
                }
            });
            editor.setValue($('#Content').val());
        });
    </script>
}
