﻿@model SAJPortal.Areas.Memberships.ViewModels.PermissionViewModel

@{
    ViewBag.Title = Global.NewPermission;
    var mid = ViewContext.RouteData.Values["mid"].ToString();
}

<div class="row">
    <div class="col-md-4">
        <section>
            @using (Html.BeginForm("new", "Permissions", FormMethod.Post, new { id = "frmOperation", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("mid", mid)
                <div class="form-group">
                    @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DevName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.DevName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DevName, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section OperationMenu {
    <li>
        <a id="btnSave" href="#"><i class="fa fa-save"></i> @Global.Save</a>
        <a href="/admin/memberships/permissions/index/@mid"><i class="fa fa-reply"></i>@Global.Back</a>
    </li>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on('click', function () {
                $('#frmOperation').submit();
            });

            $('#frmSearch').addClass('hidden');
        });
    </script>
}
