﻿<!DOCTYPE html>
<html class="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/AdminThemeStyle")
    @Styles.Render("~/Bootstrap" + (CultureHelper.IsRighToLeft() ? "Rtl" : string.Empty) + "Style")
    @Styles.Render("~/AdminTheme/MenuStyle")
    @Styles.Render("~/AdminTheme/ScrollbarStyle")
    @Styles.Render("~/AdminTheme/TabMenuStyle")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style type="text/css">
        .rtl .pull-right {
            float: left !important;
        }

        .rtl .pull-left {
            float: right !important;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="page-wrapper">
        <div class="wrapper">
            <header class="header-wrapper">
                <div class="col col-lg-3 col-md-3 col-sm-1 col-xs-1 hidden-lg hidden-md">
                    <div class="header-block header-block-collapse">
                        <button class="collapse-btn" id="sidebar-wrapper-collapse-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col col-lg-8 col-md-8 col-sm-10 col-xs-8">
                    <div class="header-block">
                        <div class="tabs-to-dropdown">
                            <nav class="tab-bar">
                                <ul>
                                    @RenderSection("OperationMenu", false)
                                </ul>
                            </nav>
                            <div class="dropdown">
                                <button class="dropdown-toggle">...<span class="fa fa-angle-down"></span></button>
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-1 col-xs-3 hidden-sm hidden-xs">
                    <div class="header-block header-block-search">
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("Index", "Home", FormMethod.Post, new {id = "frmSearch", role = "form"}))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-container">
                                    <i class="fa fa-search"></i>
                                    <input name="search" type="search" placeholder="@Global.Search">
                                    <input name="formType" type="hidden" value="search">
                                    <div class="underline"></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-3">
                    <a href="~/users/SignOut" style="display: block; padding: 10px 5px; float: left;">@Global.SignOut</a>
                </div>
            </header>
            <aside class="sidebar-wrapper">
                <div class="sidebar-wrapper-container" data-mcs-theme="light-thick">
                    <div class="sidebar-header">
                        <div class="brand">
                            @Global.NoavaranPishgamSAJ
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="header">@Global.MainNavigation</li>
                        @Html.Partial("_Menu")
                    </ul>
                </div>
            </aside>
            <div class="sidebar-wrapper-overlay" id="sidebar-wrapper-overlay"></div>
            <article class="content-wrapper">
                @RenderBody()
            </article>
            <footer class="footer-wrapper"></footer>
        </div>
    </div>
    @Scripts.Render("~/Jquery")
    @Scripts.Render("~/Modernizr")
    @Scripts.Render("~/Bootstrap" + (CultureHelper.IsRighToLeft() ? "Rtl" : string.Empty) + "Script")
    @Scripts.Render("~/AdminTheme/MenuScript")
    @Scripts.Render("~/AdminTheme/ScrollbarScript")
    @Scripts.Render("~/AdminTheme/TabMenuScript")
    <script type="text/javascript">
        $(function () {
            $('#sidebar-wrapper-collapse-btn').on('click', function (event) {
                event.preventDefault();
                $('.wrapper').toggleClass('sidebar-wrapper-open');
            });

            $('#sidebar-wrapper-overlay').on('click', function () {
                $('.wrapper').removeClass('sidebar-wrapper-open');
            });

            $.sidebarMenu($('.sidebar-menu'));

            $('.sidebar-wrapper-container').mCustomScrollbar({
                axis: 'y'
            });
        });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
