﻿@using CMS.Sitemap
@using Utility

<div class="menu-wrapper">
    <ul class="droptabs">
        @foreach (var node in SitemapProvider.Root.Children.Where(node => node.ShowInMenu && node.SiteId.Equals(Convert.ToInt32(ViewContext.RouteData.DataTokens["SiteId"]))))
        {
            var isRender = !(node.RoleName.IsNotEmpty() && !User.IsInRole(node.RoleName));
            if (node.PageType == ORM.Enums.PageTypes.SitePage && isRender)
            {
                <li class="top @(node.Children.Any() && !node.VirtualPath.IsNotEmpty() ? "menu" : string.Empty)">
                    <a href="~/@node.VirtualPath">
                        @CultureHelper.Localize(node.Title)
                    </a>
                    @if (node.Children.Any() && !node.VirtualPath.IsNotEmpty())
                    {
                        <ul class="sub-menu">
                            @foreach (var cnode in node.Children.Where(cnode => cnode.ShowInMenu))
                            {
                                var isRenderc = !(cnode.RoleName.IsNotEmpty() && !User.IsInRole(cnode.RoleName));
                                if (isRenderc)
                                {
                                    <li @(cnode.Children.Any() ? @" class=""menu""" : string.Empty)>
                                        <a href="~/@cnode.VirtualPath">
                                            @CultureHelper.Localize(cnode.Title)
                                        </a>
                                        @if (cnode.Children.Any())
                                        {
                                            <ul class="sub-menu">
                                                @foreach (var ccnode in cnode.Children.Where(ccnode => ccnode.ShowInMenu))
                                                {
                                                    var isRendercc = !(ccnode.RoleName.IsNotEmpty() && !User.IsInRole(ccnode.RoleName));
                                                    if (isRendercc)
                                                    {
                                                        <li>
                                                            <a href="~/@ccnode.VirtualPath">
                                                                @CultureHelper.Localize(ccnode.Title)
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }
                        </ul>
                    }
                </li>
            }
        }
        <li class="more top">
            <a href="#">@Global.More</a>
            <ul class="more-menu"></ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
