﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="text-align: center;" >
    <br/><br/><br/><br/>
    @Global.WelcomePortal
    <br/><br/>
    <a href="/users">@Global.Login</a>
</div>



