html,
body {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  background: #F0F0F0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h2 {
  margin: 0 0 0 .5em;
  padding-top: .5em;
}
.mdl-card {
  width: 100%;
}
.mdl-card .mdl-card__title h2 {
  padding: 0;
  height: 100%;
  margin: 0;
  text-align: center;
}
.card-header {
  margin-top: 2em;
}
.card-header .mdl-card__title {
  background: url('img/header3.png');
  height: 300px;
}
.card-header .mdl-card__title h1 {
  text-shadow: -1px -1px rgba(0, 0, 0, 0.25) !important;
}
.card-header .mdl-card__supporting-text {
  padding: 3em;
}
.card-header .mdl-card__supporting-text > p {
  font-size: 16px;
  line-height: 1.5em;
}
.mdl-grid {
  max-width: 1024px;
}
footer {
  background: #dedede !important;
  padding: 1em !important;
}
footer a:hover {
  color: #666;
}
